{% extends 'base.html' %}

{% block head %}
<title>Dashboard</title>
{% endblock %}

{% block body %}

<div class="container">
    <br/>
    <h1>Welcome {{ data[1] }} !</h1>
    <br/>
    <div class="row">
        <div class="col-md-5">
            <div class="d-flex ">
                <div class="me-4 col-6"><strong>Student ID :</strong></div><div class="col-6">{{ data[0]}}</div>
            </div>
            <div class="d-flex ">
                <div class="me-4 col-6"><strong>Name :</strong></div><div class="col-6">{{ data[1]}}</div>
            </div>
            <div class="d-flex ">
                <div class="me-4 col-6"><strong>Class :</strong></div><div class="col-6">{{ data[10]}}</div>
            </div>
            <div class="d-flex ">
                <div class="me-4 col-6"><strong>DOB :</strong></div><div class="col-6">{{ data[2]}}</div>
            </div>
            <div class="d-flex ">
                <div class="me-4 col-6"><strong>Gender :</strong></div><div class="col-6">{{ data[3]}}</div>
            </div>
            <div class="d-flex ">
                <div class="me-4 col-6"><strong>Email ID :</strong></div><div class="col-6">{{ data[5]}}</div>
            </div>
            <div class="d-flex ">
                <div class="me-4 col-6"><strong>Emergency Contact :</strong></div><div class="col-6">{{ data[6]}}</div>
            </div>
            <div class="d-flex ">
                <div class="me-4 col-6"><strong>Academic Year :</strong></div><div class="col-6">{{ data[7]}}</div>
            </div>
            <div class="d-flex ">
                <div class="me-4 col-6"><strong>Father's Name :</strong></div><div class="col-6">{{ data[8]}}</div>
            </div>
            <div class="d-flex ">
                <div class="me-4 col-6"><strong>Mother's Name :</strong></div><div class="col-6">{{ data[9]}}</div>
            </div>
            <div class="d-flex ">
                <div class="me-4 col-6"><strong>Address :</strong></div><div class="col-6">{{ data[4]}}</div>
            </div>
            <br/>
            <div class="d-flex ">
                <div class="me-4 col-6"><a class="btn btn-primary" href="{{url_for('documents')}}" role="button">Upload Documents</a></div><div class="me-4 col-6"><a class="btn btn-primary" href="#" role="button">Edit Profile</a></div>
            </div>
            <br/>
            <!-- {% if msg %}

            <div class="d-flex ">
                <div class="me-4 col-6"><strong>File upload status :</strong></div><div class="col-6">Uploaded</div>
            </div>
            

            {% endif %} -->
            <div class="d-flex ">
                <div class="col-6"><a class="btn btn-primary" href="{{url_for('logout')}}" role="button">Logout</a></div>
            </div>
        </div>
    </div>   
</div>
{% endblock %}
